{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if error %}Error: {% endif %}Find the location - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink or "/nrf-estimate-2-map-layers-spike/what-would-you-like-to-do"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if error or errorList %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <form method="post" novalidate>

        {% set placeOrPostcodeHtml %}
          {{ govukInput({
            id: "placeOrPostcode",
            name: "placeOrPostcode",
            label: {
              text: "Place or postcode",
              classes: "govuk-visually-hidden"
            },
            classes: "govuk-!-width-one-third",
            hint: {
              text: "For example, Bakewell or WA4 1AB"
            },
            value: data['placeOrPostcode'],
            errorMessage: { text: fieldErrors.placeOrPostcode } if fieldErrors.placeOrPostcode
          }) }}
        {% endset %}

        {% set nationalGridReferenceHtml %}
          {{ govukInput({
            id: "nationalGridReference",
            name: "nationalGridReference",
            label: {
              text: "National Grid Reference (NGR)",
              classes: "govuk-visually-hidden"
            },
            classes: "govuk-!-width-one-third",
            hint: {
              text: "For example, SJ8632197947 (10 or 12 digits)"
            },
            value: data['nationalGridReference'],
            errorMessage: { text: fieldErrors.nationalGridReference } if fieldErrors.nationalGridReference
          }) }}
        {% endset %}

        {% set eastingNorthingHtml %}
          <div id="eastings-northings-hint" class="govuk-hint">
            Eastings and northings should only include numbers. For example: 123456
          </div>

          {{ govukInput({
            id: "easting",
            name: "easting",
            type: "number",
            inputmode: "numeric",
            pattern: "[0-9]*",
            label: {
              text: "Easting"
            },
            classes: "govuk-!-width-one-third",
            value: data['easting'],
            errorMessage: { text: fieldErrors.easting } if fieldErrors.easting
          }) }}

          {{ govukInput({
            id: "northing",
            name: "northing",
            type: "number",
            inputmode: "numeric",
            pattern: "[0-9]*",
            label: {
              text: "Northing",
              classes: "govuk-!-margin-top-3"
            },
            classes: "govuk-!-width-one-third",
            value: data['northing'],
            errorMessage: { text: fieldErrors.northing } if fieldErrors.northing
          }) }}
        {% endset %}

        {{ govukRadios({
          name: "findby",
          fieldset: {
            legend: {
              text: "Find the location",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Choose an option to search for a location"
          },
          errorMessage: { text: error } if error and not fieldErrors,
          items: [
            {
              value: "placeOrPostcode",
              text: "Place or postcode",
              checked: data['findby'] == 'placeOrPostcode',
              conditional: {
                html: placeOrPostcodeHtml
              }
            },
            {
              value: "nationalGridReference",
              text: "National Grid Reference (NGR)",
              checked: data['findby'] == 'nationalGridReference',
              conditional: {
                html: nationalGridReferenceHtml
              }
            },
            {
              value: "eastingNorthing",
              text: "Easting and northing",
              checked: data['findby'] == 'eastingNorthing',
              conditional: {
                html: eastingNorthingHtml
              }
            }
          ]
        }) }}

        <p class="govuk-body">
          <a href="/nrf-estimate-2-map-layers-spike/redline-map" class="govuk-link">Skip</a>
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
