{% extends "layouts/main.html" %}

{% block pageTitle %}
Nature Restoration Fund levy is not available in this area - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/nrf-estimate-2-map-layers-spike/map"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Nature Restoration Fund levy is not available in this area</h1>

        <p class="govuk-body">Other ways to mitigate environmental impact are:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Habitat Regulations Assessment (HRA) for European sites or Ramsar sites</li>
            <li>Consent from Natural England for works affecting SSSIs</li>
            <li>Marine impact assessments for marine conservation zones</li>
            <li>Species licensing applications for protected species</li>
        </ul>

        <p class="govuk-body">
            <a href="#" class="govuk-link">Find out about mitigating environmental impact</a>
        </p>
    </div>
</div>
{% endblock %}