{% extends "layouts/main.html" %}

{% block pageTitle %}
Your details have been submitted - Pay for Nature Restoration Fund Levy
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/nrf-estimate-2-map-layers-spike/summary"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Your details have been submitted
            </h1>
            <div class="govuk-panel__body">Payment reference: <strong>{{ data.paymentReference }}</strong></div>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p>You will receive an email with the amount of the Nature Restoration Fund levy.</p>
        <p>You will be able to click the link on the email to accept the amount and request an invoice to pay the levy.
        </p>

        <h2 class="govuk-heading-m">Get help with Nature Restoration Fund</h2>

        <p>If you need help with Nature Restoration Fund, contact XXXX and give the payment reference.</p>

        <p>
            Email: <a href="mailto:xxxxx@defra.gov.uk">xxxxx@defra.gov.uk</a><br>
            Telephone: 00000000000<br>
            Monday to Friday, 8:30am to 5pm, except bank holidays
        </p>

        <p>Find out about call charges at <a href="https://www.gov.uk/call-charges">https://www.gov.uk/call-charges</a>
        </p>

        <p><a href="/nrf-estimate-2-map-layers-spike/payment-email">View payment email</a></p>

    </div>
</div>

{% endblock %}