{% extends "layouts/main.html" %}

{% block pageTitle %}
Your details have been submitted - Get a quote for Nature Restoration Fund levy - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/nrf-quote-4/summary-and-declaration"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Your details have been submitted</h1>
            <div class="govuk-panel__body">
                NRF reference: NRF-98205
            </div>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">You will be sent an email with a commitment document that you can send to your Local Planning Authority to include in your planning application.</p>
        <p class="govuk-body">The document outlines your commitment to use the Nature Restoration Fund levy to mitigate your environmental impact for nutrients.</p>
        <h2 class="govuk-heading-m">Get help with Nature Restoration Fund</h2>
        <p class="govuk-body">If you need help with Nature Restoration Fund, contact XXXX and give the NRF reference number.</p>
        <p class="govuk-body">
            Email: <a href="mailto:xxxxx@defra.gov.uk" class="govuk-link">xxxxx@defra.gov.uk</a><br>
            Telephone: 00000000000<br>
            Monday to Friday, 8:30am to 5pm, except bank holidays
        </p>
        <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p>
        <p class="govuk-body"><a href="/nrf-quote-4/commit-email-content" class="govuk-link">View the email content</a></p>
    </div>
</div>
{% endblock %}

