{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your NRF reference - Get a quote for Nature Restoration Fund levy - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/nrf-quote-4/do-you-have-a-nrf-ref"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/nrf-quote-4/enter-estimate-ref" method="post" novalidate>

            {% if error %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                    {
                        text: error,
                        href: "#nrf-reference"
                    }
                ]
            }) }}
            {% endif %}

            {{ govukInput({
                label: {
                    text: "Enter your NRF reference",
                    classes: "govuk-label--l",
                    isPageHeading: true
                },
                hint: {
                    text: "Enter this reference to retrieve the details entered during the quote."
                },
                id: "nrf-reference",
                name: "nrf-reference",
                type: "text",
                value: data.nrfReference,
                errorMessage: { text: error } if error
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>
{% endblock %}
