{% extends "layouts/main.html" %}

{% block pageTitle %}
Email sent to get magic link to access commitment - Pay Nature Restoration Fund Levy - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: backLink
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-inset-text">
            <p><strong>To:</strong> {{ data.commitmentRetrievalEmail or 'user@example.com' }}</p>
            <p><strong>Subject:</strong> Nature Restoration Fund - retrieve your commitment details for the Nature Restoration Fund levy</p>
        </div>

        <h1 class="govuk-heading-l">Nature Restoration Fund – retrieve your commitment details for the Nature Restoration Fund levy</h1>

        <p class="govuk-body">You can use the details you previously gave us for your commitment to complete the information needed for your levy payment.</p>

        <p class="govuk-body"><a href="/nrf-estimate-3/commit-summary" class="govuk-link">Retrieve the commitment details</a></p>

        <h2 class="govuk-heading-m">Get help with Nature Restoration Fund</h2>

        <p class="govuk-body">If you need help with Nature Restoration Fund, contact XXXX and give the estimate reference number.</p>

        <p class="govuk-body">
            Email: <a href="mailto:xxxxx@defra.gov.uk" class="govuk-link">xxxxx@defra.gov.uk</a><br>
            Telephone: 00000000000<br>
            Monday to Friday, 8:30am to 5pm, except bank holidays
        </p>

        <p class="govuk-body">
            <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>
        </p>
    </div>
</div>
{% endblock %}

