{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your email address - Get an estimate for Nature Restoration Fund levy - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: backLink
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/nrf-estimate-3/email" method="post" novalidate>
            {% if isChange %}
            <input type="hidden" name="isChange" value="true">
            {% endif %}
            {% if navFromSummary %}
            <input type="hidden" name="navFromSummary" value="true">
            {% endif %}

            {% if error %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                    {
                        text: error,
                        href: "#email"
                    }
                ]
            }) }}
            {% endif %}

            {{ govukInput({
                label: {
                    text: "Enter your email address",
                    classes: "govuk-label--l",
                    isPageHeading: true
                },
                hint: {
                    text: "Once your Nature Restoration Fund levy amount is calculated, the estimate will be emailed to you. This could take up to 00 minutes."
                },
                id: "email",
                name: "email",
                type: "email",
                autocomplete: "email",
                spellcheck: false,
                value: data.email,
                errorMessage: { text: error } if error
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>
{% endblock %}
