{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your planning application reference - Pay Nature Restoration Fund levy - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: backLink
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/nrf-estimate-3/planning-ref" method="post" novalidate>

            {% if error %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                    {
                        text: error,
                        href: "#planning-ref"
                    }
                ]
            }) }}
            {% endif %}

            {{ govukInput({
                label: {
                    text: "Enter your planning application reference",
                    classes: "govuk-label--l",
                    isPageHeading: true
                },
                hint: {
                    text: "Enter the reference of the planning application that you want to pay the Nature Restoration Fund levy for"
                },
                id: "planning-ref",
                name: "planning-ref",
                type: "text",
                value: data.planningRef,
                errorMessage: { text: error } if error
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>
{% endblock %}
