{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your email address - Get an estimate for Nature Restoration Fund levy - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: backLink
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/nrf-estimate-3/retrieve-estimate-email" method="post" novalidate>

            {% if error %}
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
                data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#email">{{ error }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}

            <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="email">
                        Enter your email address
                    </label>
                </h1>

                <div id="email-hint" class="govuk-hint">
                    We will send you a link so you can retrieve the details from your estimate.
                </div>

                {% if error %}
                <p id="email-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                </p>
                {% endif %}

                <input class="govuk-input {% if error %}govuk-input--error{% endif %}" id="email" name="email"
                    type="email" spellcheck="false" autocomplete="email"
                    value="{% if data.email %}{{ data.email }}{% endif %}" aria-describedby="email-hint">
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>
{% endblock %}

