{% extends "layouts/main.html" %}

{% set pageName="Confirm you want to view and approve these Nature Restoration Fund levy details" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/lpa-approve-1/lpa-approval-email-content"
}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Confirm you want to view and approve these Nature Restoration Fund levy details.</h1>

<div class="govuk-hint">
  You will receive an email with a link.
</div>

{{ govukSummaryList({
  rows: [
    {
      key: { text: "Payment reference" },
      value: { text: "0006677" }
    },
    {
      key: { text: "Business name" },
      value: { text: "Acme Developments" }
    },
    {
      key: { text: "Planning reference" },
      value: { text: "APP/2025/24019/FUL" }
    }
  ]
}) }}

<p class="govuk-body">
  <a href="/lpa-approve-1/lpa-approval-email-magiclink" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Confirm
  </a>
</p>

{% endblock %}

