{% extends "layouts/main.html" %}

{% set pageName="New Application - Enter Postcode" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Enter your development site postcode
        </h1>

        <p class="govuk-body">
            Enter the postcode of your development site. We'll use this to locate your site on a map where you can draw
            the boundary.
        </p>

        <form method="post" action="/applications-1/new/location-postcode">

            <div class="govuk-form-group">
                <label class="govuk-label" for="postcode">
                    Postcode
                </label>
                <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text"
                    value="{{ session.userData.postcode or '' }}" required>
                <div class="govuk-hint">
                    Enter the postcode of your development site (e.g., SW1A 1AA)
                </div>
            </div>

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" type="submit">
                    Continue
                </button>
                <a href="/applications-1/new/location" class="govuk-button govuk-button--secondary"
                    data-module="govuk-button">
                    Back
                </a>
            </div>

        </form>

    </div>

    <div class="govuk-grid-column-one-third">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <h2 class="govuk-heading-s">Postcode lookup</h2>
                <p class="govuk-body-s">
                    We'll use your postcode to:
                </p>
                <ul class="govuk-list govuk-list--bullet govuk-body-s">
                    <li>Locate your development site</li>
                    <li>Show you a map of the area</li>
                    <li>Help you draw the boundary</li>
                </ul>
            </div>
        </div>

        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <h2 class="govuk-heading-s">Need help?</h2>
                <ul class="govuk-list">
                    <li><a href="#" class="govuk-link">Find your postcode</a></li>
                    <li><a href="#" class="govuk-link">Contact support</a></li>
                    <li><a href="#" class="govuk-link">FAQs</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}