{% extends "layouts/main.html" %}

{% block pageTitle %}
Your details have been submitted - Get a quote for the nature restoration levy - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Your details have been submitted</h1>
      <div class="govuk-panel__body">NRF reference: {{ data.nrfReference }}</div>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">You will receive an email with details of the quote.</p>

    <p class="govuk-body">You do not need to pay anything at this point, this service is designed to help you plan how to meet your environmental obligations for your relevant development.</p>

    <p class="govuk-body">If you decide to meet environmental obligations using the nature restoration levy, you can request to use it.</p>

    <p class="govuk-body">Keep the email as a record of the quote and the NRF reference number. You can use the reference number to retrieve this quote when you are ready to request to use the nature restoration levy.</p>

    <h2 class="govuk-heading-m">Get help with the nature restoration levy</h2>
    <p class="govuk-body">If you need help with the nature restoration levy, contact XXXX.</p>
    <p class="govuk-body">
      Email: <a href="mailto:xxxxx@defra.gov.uk" class="govuk-link">xxxxx@defra.gov.uk</a><br>
      Telephone: 00000000000<br>
      Monday to Friday, 8:30am to 5pm, except bank holidays
    </p>
    <p class="govuk-body">
      <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>
    </p>
    <p class="govuk-body">
      <a href="/nrf-quote-6/estimate-email-content" class="govuk-link">View the email content</a>
    </p>

  </div>
</div>
{% endblock %}
