{% extends "layouts/main.html" %}

{% block pageTitle %}
Not enough capacity remaining - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/nrf-quote-6/units"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Not enough capacity remaining</h1>
    <p class="govuk-body">
      The Environmental Delivery Plan (EDP) in this area does not have enough remaining capacity for this number of houses.
    </p>

  </div>
</div>
{% endblock %}
