{% extends "layouts/main.html" %}

{% block pageTitle %}
What type of planning application are you planning to submit? - Get a quote for the nature restoration levy - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/nrf-quote-6/start"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/nrf-quote-6/planning-type" method="post" novalidate>

      {% if error %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: error, href: "#planning-type-full" }]
      }) }}
      {% endif %}

      <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What type of planning application are you planning to submit?
            </h1>
          </legend>
          <div class="govuk-hint">Options below include any variations to an existing permission.</div>

          {% if error %}
          <p id="planning-type-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ error }}
          </p>
          {% endif %}

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="planning-type-full" name="planning-type" type="radio"
                value="Full planning permission" {% if data.planningType === 'Full planning permission' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="planning-type-full">Full planning permission</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="planning-type-outline" name="planning-type" type="radio"
                value="Outline planning permission" {% if data.planningType === 'Outline planning permission' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="planning-type-outline">Outline planning permission</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="planning-type-hybrid" name="planning-type" type="radio"
                value="Hybrid planning permission" {% if data.planningType === 'Hybrid planning permission' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="planning-type-hybrid">Hybrid planning permission</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="planning-type-other" name="planning-type" type="radio"
                value="Other" {% if data.planningType === 'Other' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="planning-type-other">Other</label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>
{% endblock %}
