{% extends "layouts/main.html" %}

{% block pageTitle %}
Get a quote for the nature restoration levy - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Nature restoration levy</h1>

    <h2 class="govuk-heading-m">Using the nature restoration levy to meet your environmental obligations</h2>

    <p class="govuk-body">
      Use this service to find out if your relevant development is in an area with an <a href="#" class="govuk-link">Environmental Delivery Plan (EDP)</a>.
    </p>
    <p class="govuk-body">
      If your development falls into an area with an EDP, you can get a quote and then request to use the nature restoration levy to meet your environmental obligations.
    </p>
    <p class="govuk-body">
      If you choose not to use the nature restoration levy, you will still need to <a href="#" class="govuk-link">meet your environmental obligations in other ways</a>.
    </p>

    <form action="/nrf-quote-6/start" method="post" novalidate>
      <button class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </button>
    </form>

    <h2 class="govuk-heading-m">What you need to do</h2>

    <h3 class="govuk-heading-s">Getting a quote</h3>

    <p class="govuk-body">To get a quote you will need to tell us:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the type of planning application you are submitting</li>
      <li>that you are building units of housing (this includes houses and flats)</li>
      <li>the number of units of housing</li>
      <li>where the development is planned – you can use a red line boundary file or draw a red line boundary</li>
    </ul>

    <p class="govuk-body">
      You will be sent a quote email with a NRF reference and the amount of the levy. You can get as many quotes as you like.
    </p>

    <h3 class="govuk-heading-s">What to do with your quote</h3>

    <p class="govuk-body">
      Once you have a quote, you will be able to contact Natural England and request to use the nature restoration levy.
      The quote is not a commitment to use the nature restoration levy to discharge relevant environmental obligations. A Local Planning Authority must not accept the quote as part of any planning and decision-making processes.
    </p>

    <h2 class="govuk-heading-m">Get help with the nature restoration levy</h2>

    <p class="govuk-body">If you need help with the nature restoration levy, contact XXXX.</p>

    <p class="govuk-body">
      Email: <a href="mailto:xxxxx@defra.gov.uk" class="govuk-link">xxxxx@defra.gov.uk</a><br>
      Telephone: 00000000000<br>
      Monday to Friday, 8:30am to 5pm, except bank holidays
    </p>

    <p class="govuk-body">
      <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>
    </p>
  </div>
</div>
{% endblock %}
