{% extends "layouts/main.html" %}

{% block pageTitle %}
Email sent from the Nature Restoration Fund service - Pay for Nature Restoration Fund Levy
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Nature Restoration Fund – payment for the Nature Restoration Fund levy</h1>

        <p>Thank you for submitting details of the development on the Pay the Nature Restoration Fund service.</p>

        <p>You told us the development:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>is planned in an area XXXXXXXXXX</li>
            <li>has 5 Dwellinghouse buildings, 0 Hotel buildings with a total of 0 rooms and 0 Residential institution
                buildings with a total of 0 rooms</li>
        </ul>

        <h2 class="govuk-heading-m">What you need to pay</h2>

        <p>Based on the information you have provided, the development falls into the catchment area for the Nature
            Restoration Fund Nutrients Levy.</p>

        <p><strong>The total amount you need to pay is: £2,500.00</strong></p>

        <p><a href="http:my-nrf-page.com">Confirm payment and request an invoice</a></p>

        <h2 class="govuk-heading-m">What your levy will pay for</h2>

        <p>Your levy will be spent on conservation, with amounts being spent on monitoring and maintenance. There will
            also be an admin charge of £00 taken from the levy payment.</p>
        <p>Levies are calculated as part of Environmental Delivery Plans (EDPs).</p>

        <h2 class="govuk-heading-m">Get help with paying the Nature Restoration Fund levy</h2>

        <p>If you need help with paying the Nature Restoration Fund levy contact XXXX and give the payment reference
            number.</p>

        <p>
            Email: <a href="mailto:xxxxx@defra.gov.uk">xxxxx@defra.gov.uk</a><br>
            Telephone: 00000000000<br>
            Monday to Friday, 8:30am to 5pm, except bank holidays
        </p>

        <p>Find out about call charges at <a href="https://www.gov.uk/call-charges">https://www.gov.uk/call-charges</a>
        </p>

    </div>
</div>

{% endblock %}