{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you have a red line boundary file? - {% if data.journeyType === 'payment' %}Pay for Nature Restoration Fund Levy{%
else %}Get an estimate for Nature Restoration Fund Levy{% endif %} - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="/nrf-estimate-1/what-would-you-like-to-do" class="govuk-back-link">Back</a>

        <form action="/nrf-estimate-1/redline-map" method="post" novalidate>

            {% if error %}
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
                data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#has-redline-boundary-file">{{ error }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}

            <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Do you have a red line boundary file?
                        </h1>
                    </legend>

                    {% if error %}
                    <p id="has-redline-boundary-file-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{ error }}
                    </p>
                    {% endif %}

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="has-redline-boundary-file-yes"
                                name="has-redline-boundary-file" type="radio" value="yes" {% if data['hasRedlineBoundaryFile'] == 'yes' %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="has-redline-boundary-file-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="has-redline-boundary-file-no"
                                name="has-redline-boundary-file" type="radio" value="no" {% if data['hasRedlineBoundaryFile'] == 'no' %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="has-redline-boundary-file-no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>
{% endblock %}