{% extends "layouts/main.html" %}

{% block pageTitle %}
Get an estimate for Nature Restoration Fund Levy - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Nature Restoration Fund</h1>

        <p class="govuk-body">
            Use this service to see if the development falls into the catchment area of an Environmental Delivery Plan
            (EDP).
        </p>

        <p class="govuk-body">
            You can submit details of the development to get an estimate of how much the levy might be or pay the Nature
            Restoration Fund (NRF) levy.
        </p>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">You will need to be able to tell us:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>where the development is planned – you can use a red line boundary file or draw a red line boundary</li>
            <li>the types of buildings planned</li>
            <li>details about the amount of buildings or rooms</li>
            <li>the planning reference, if you have one and are ready to pay</li>
        </ul>

        <form action="/nrf-estimate-1/start" method="post" novalidate>
            <button class="govuk-button govuk-button--start" data-module="govuk-button">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                    viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </button>
        </form>

        <h2 class="govuk-heading-m">Get help with Nature Restoration Fund</h2>

        <p class="govuk-body">If you need help with Nature Restoration Fund, contact XXXX.</p>

        <p class="govuk-body">
            Email: <a href="mailto:xxxxx@defra.gov.uk" class="govuk-link">xxxxx@defra.gov.uk</a><br>
            Telephone: 00000000000<br>
            Monday to Friday, 8:30am to 5pm, except bank holidays
        </p>

        <p class="govuk-body">
            <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>
        </p>
    </div>
</div>
{% endblock %}