{% extends "layouts/main.html" %}

{% block pageTitle %}
Details submitted - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
            aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    Your details have been submitted.
                </h3>
                <p class="govuk-body">Payment reference: {{ data.paymentReference }}</p>
            </div>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
            Your Local Planning Authority will review and approve your commitment to use the Nature Restoration Fund levy. If approved, this will mitigate your environmental impact on newts and nutrients.
        </p>

        <p class="govuk-body">
            You will receive an email with an invoice and details of how you can pay.
        </p>

        <p class="govuk-body">
            Once you have paid, you will be sent an email with a receipt which you can use as evidence for your planning application to discharge your obligation.
        </p>

        <h2 class="govuk-heading-m">Get help with Nature Restoration Fund</h2>

        <p class="govuk-body">
            If you need help with Nature Restoration Fund, contact XXXX and give the payment reference number.
        </p>

        <p class="govuk-body">
            Email: <a href="mailto:xxxxx@defra.gov.uk" class="govuk-link">xxxxx@defra.gov.uk</a><br>
            Telephone: 00000000000<br>
            Monday to Friday, 8:30am to 5pm, except bank holidays
        </p>

        <p class="govuk-body">
            <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>
        </p>
    </div>
</div>
{% endblock %}











