{% extends "layouts/main.html" %}

{% set pageName = "Enter the email address for your Local Planning Authority (LPA) contact" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li><a href="#email">{{ error }}</a></li>
            </ul>
          </div>
        </div>
      {% endif %}

      <form method="post" novalidate>
        <h1 class="govuk-heading-l">Enter the email address for your Local Planning Authority (LPA) contact</h1>
        <p class="govuk-body">Enter the email address for the person that is responsible for your planning application. We will also send a copy to: email@email.co.uk</p>
        <p class="govuk-body">Once the LPA contact has approved your commitment to use Nature Restoration Fund levy, you will receive an email with an invoice.</p>

        <div class="govuk-form-group{% if error %} govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="email">Email address</label>
          {% if error %}
            <p id="email-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ error }}
            </p>
          {% endif %}
          <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" autocomplete="email" value="{{ data.lpaEmail or '' }}">
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>
{% endblock %}


