{% extends "layouts/main.html" %}

{% set pageName="Digital Application Process - Start" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Digital Application Process
        </h1>

        <p class="govuk-body">
            Welcome to the sample user journey experiment. This user journey will demonstrate the concept of a user
            journey.
        </p>

        <p class="govuk-body">
            This is a prototype designed to gather feedback on the user experience and identify areas for improvement.
        </p>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                This is a prototype for testing purposes only. No real data will be processed.
            </strong>
        </div>

        <a href="/" class="govuk-button govuk-button--secondary">
            Back to Journey Index
        </a>

    </div>
</div>

{% endblock %}