{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you sure you want to delete this quote? - Get a quote for Nature Restoration Fund levy - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: backLink or "/nrf-estimate-4/check-your-answers"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if fromCommit %}
        <h1 class="govuk-heading-l">Are you sure you want to delete this commitment?</h1>
        <p class="govuk-body">This will permanently delete your commitment. You can create a new quote.</p>
        {% else %}
        <h1 class="govuk-heading-l">Are you sure you want to delete this quote?</h1>
        <p class="govuk-body">This will permanently delete your quote. You can create a new quote.</p>
        {% endif %}

        <form action="/nrf-estimate-4/delete-quote{% if fromCommit %}?from=commit{% endif %}" method="post" novalidate>
            <input type="hidden" name="confirm-delete-quote" value="Yes">
            {% if fromCommit %}<input type="hidden" name="from" value="commit">{% endif %}
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Yes",
                    classes: "govuk-button"
                }) }}
                <a class="govuk-link govuk-button govuk-button--secondary" href="{{ backLink or '/nrf-estimate-4/check-your-answers' }}">No</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
