{% extends "layouts/main.html" %}

{% block pageTitle %}
Email sent from the Nature Restoration Fund service - Get a quote for Nature Restoration Fund levy - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: backLink or "/nrf-estimate-4/confirmation"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-inset-text">
            <p><strong>To:</strong> {{ data.estimateEmail or data.email or 'user@example.com' }}</p>
            <p><strong>Subject:</strong> Nature Restoration Fund – quote for the Nature Restoration Fund levy</p>
        </div>

        <h1 class="govuk-heading-l">Nature Restoration Fund – quote for the Nature Restoration Fund levy</h1>

        <h2 class="govuk-heading-m">NRF reference: {{ data.nrfReference or data.estimateReference }}</h2>

        <p class="govuk-body">Thank you for submitting details of the development on the Get a quote for the Nature Restoration Fund levy service.</p>

        <p class="govuk-body">You told us the development:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>is planned in {{ data.intersectingCatchment or 'Thames Valley EDP' }}</li>
            {% if data.buildingTypes %}
            {% if data.residentialBuildingCount %}
            <li>has {{ data.residentialBuildingCount }} dwelling building{% if data.residentialBuildingCount != 1 %}s{% endif %}</li>
            {% endif %}
            {% if data.roomCounts %}
            {% if data.roomCounts.hotelCount %}
            <li>has {{ data.roomCounts.hotelCount }} hotel room{% if data.roomCounts.hotelCount != 1 %}s{% endif %}</li>
            {% endif %}
            {% if data.roomCounts.hmoCount %}
            <li>has House in multiple occupation buildings with a total of {{ data.roomCounts.hmoCount }} room{% if data.roomCounts.hmoCount != 1 %}s{% endif %}</li>
            {% endif %}
            {% if data.roomCounts.residentialInstitutionCount %}
            <li>has {{ data.roomCounts.residentialInstitutionCount }} residential institution room{% if data.roomCounts.residentialInstitutionCount != 1 %}s{% endif %}</li>
            {% endif %}
            {% endif %}
            {% endif %}
        </ul>

        <h2 class="govuk-heading-m">What you might need to pay</h2>

        <p class="govuk-body">Based on the information you have provided, the development falls into an area with an Environmental Delivery Plan (EDP), so you can use the Nature Restoration Fund Nutrients levy.</p>

        <p class="govuk-body">The quote for the total amount you may need to pay if you develop in this area is: <strong>£{{ data.levyAmount or '2,500' }}</strong></p>

        <p class="govuk-body">You do not need to pay anything at this point, this service is designed to help you plan how to mitigate your environmental obligations. <a href="javascript:void(0)" class="govuk-link">Get another quote</a></p>

        <p class="govuk-body">If you do decide to mitigate using Nature Restoration Fund levy, you can commit and include the commitment when applying for planning permission.</p>

        <p class="govuk-body"><a href="/nrf-estimate-4/do-you-have-a-nrf-ref" class="govuk-link">Commit to using Nature Restoration Fund</a></p>

        <p class="govuk-body">Keep this email as a record of your quote and NRF reference number, you can use it to retrieve this quote when you are ready to commit.</p>
        <p class="govuk-body">
            You can also <a href="javascript:void(0)" class="govuk-link">create an account now</a>
        </p>

        <h2 class="govuk-heading-m">What your levy will pay for</h2>

        <p class="govuk-body">Your levy will be spent on conservation, with amounts being spent on monitoring and maintenance. There will also be an admin charge of £00 taken from the levy payment. Levies are calculated as part of Environmental Delivery Plans (EDPs).</p>

        <h2 class="govuk-heading-m">Get help with Nature Restoration Fund</h2>

        <p class="govuk-body">If you need help with Nature Restoration Fund, contact XXXX and give the NRF reference number.</p>

        <p class="govuk-body">
            Email: <a href="mailto:xxxxx@defra.gov.uk" class="govuk-link">xxxxx@defra.gov.uk</a><br>
            Telephone: 00000000000<br>
            Monday to Friday, 8:30am to 5pm, except bank holidays
        </p>

        <p class="govuk-body">
            <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>
        </p>
    </div>
</div>
{% endblock %}
