{% extends "layouts/main.html" %}

{% block pageTitle %}
Email sent from the Nature Restoration Fund service - Pay Nature Restoration Fund levy - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: backLink or "/nrf-estimate-4/decision-notice-confirmation"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-inset-text">
            <p class="govuk-body">
                <strong>To:</strong> {{ data.commitmentRetrievalEmail or data.email or 'user@example.com' }}<br>
                <strong>Subject:</strong> Nature Restoration Fund – pay the Nature Restoration Fund levy
            </p>
        </div>

        <h1 class="govuk-heading-l">Nature Restoration Fund – pay the Nature Restoration Fund levy</h1>

        <p class="govuk-body">
            <strong>NRF reference:</strong> {{ data.paymentReference or 'NRF-746256' }}
        </p>

        <p class="govuk-body">
            Thank you for using Nature Restoration Fund levy to mitigate your environmental impact. There is an invoice attached to this email.
        </p>

        <p class="govuk-body">You have agreed to pay the following:</p>
        <p class="govuk-body">
            Nature Restoration Fund nutrients levy: £{{ data.levyAmount or '2,500' }}
        </p>

        <p class="govuk-body">
            Your levy will be spent on conservation, with amounts being spent on monitoring and maintenance. There will also be an admin charge of £00 taken from the levy payment. Levies are calculated as part of Environmental Delivery Plans (EDPs).
        </p>

        <h2 class="govuk-heading-m">Ways to pay</h2>
        <p class="govuk-body">You can pay your levy by using a bank transfer or by using GOV.UK Pay.</p>

        <h3 class="govuk-heading-s">Paying by bank transfer</h3>
        <p class="govuk-body">
            You can make a transfer from a bank account by Faster Payments, Bacs or CHAPS. Use the payee details, sort code and account number on the invoice to make the payment. Use the payment reference as the reference when you make the transfer.
        </p>

        <h3 class="govuk-heading-s">Paying using GOV.UK Pay</h3>
        <p class="govuk-body">
            You can use GOV.UK Pay to pay your levy, you will need a bank card or credit card to make this payment.
        </p>
        <p class="govuk-body">
            <a href="javascript:void(0)" class="govuk-link">Pay your levy using GOV.UK Pay</a>
        </p>

        <h3 class="govuk-heading-s">Paying by instalments</h3>
        <p class="govuk-body">
            You can request to pay your levy in instalments.
        </p>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
            Once you have paid, you will be sent an email with a receipt which you can use when discharging your planning conditions.
        </p>

        <h2 class="govuk-heading-m">Get help with Nature Restoration Fund</h2>
        <p class="govuk-body">
            If you need help with Nature Restoration Fund, contact XXXX and give the NRF reference number.
        </p>
        <p class="govuk-body">
            Email: <a href="mailto:xxxxx@defra.gov.uk" class="govuk-link">xxxxx@defra.gov.uk</a><br>
            Telephone: 00000000000<br>
            Monday to Friday, 8:30am to 5pm, except bank holidays
        </p>
        <p class="govuk-body">
            <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>
        </p>
    </div>
</div>
{% endblock %}
