{% extends "layouts/main.html" %}

{% block pageTitle %}
Your quote details - Get a quote for Nature Restoration Fund levy - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/nrf-estimate-4/estimate-email-retrieval-content"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Your quote details</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Red line boundary
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.redlineBoundaryPolygon %}
                    Added
                    {% else %}
                    Not added
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    {% if data.hasRedlineBoundaryFile %}
                    <a class="govuk-link" href="/nrf-estimate-4/upload-redline?change=true&amp;nav=check-your-answers">
                        Change<span class="govuk-visually-hidden"> red line boundary</span>
                    </a>
                    {% else %}
                    <a class="govuk-link" href="/nrf-estimate-4/map?nav=check-your-answers">
                        Change<span class="govuk-visually-hidden"> red line boundary</span>
                    </a>
                    {% endif %}
                </dd>
            </div>

            {% if data.buildingTypes and data.buildingTypes.length > 0 %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Development types
                </dt>
                <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                        {% for type in data.buildingTypes %}
                        {% if type and type !== '_unchecked' %}
                        <li>{{ buildingTypeLabels[type] or type }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/nrf-estimate-4/building-type?change=true&amp;nav=check-your-answers">
                        Change<span class="govuk-visually-hidden"> development types</span>
                    </a>
                </dd>
            </div>
            {% endif %}

            {% if data.buildingTypes and data.buildingTypes.includes('Housing') and data.residentialBuildingCount %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number of residential units
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.residentialBuildingCount }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/nrf-estimate-4/residential?change=true&amp;nav=check-your-answers">
                        Change<span class="govuk-visually-hidden"> number of residential units</span>
                    </a>
                </dd>
            </div>
            {% endif %}

            {% if data.buildingTypes and data.buildingTypes.includes('Other residential') and data.peopleCount %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Maximum number of people
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.peopleCount }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/nrf-estimate-4/people-count?change=true&amp;nav=check-your-answers">
                        Change<span class="govuk-visually-hidden"> maximum number of people</span>
                    </a>
                </dd>
            </div>
            {% endif %}

            {% if data.wasteWaterTreatmentWorks %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Waste water treatment works
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.wasteWaterTreatmentWorks }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/nrf-estimate-4/waste-water?change=true&amp;nav=check-your-answers">
                        Change<span class="govuk-visually-hidden"> waste water treatment works</span>
                    </a>
                </dd>
            </div>
            {% endif %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email address
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.email }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/nrf-estimate-4/estimate-email?change=true&amp;nav=check-your-answers">
                        Change<span class="govuk-visually-hidden"> email address</span>
                    </a>
                </dd>
            </div>
        </dl>

        <p class="govuk-body">Amend the above information or continue. You will be asked to create or sign in to an account.</p>

        <form action="/nrf-estimate-4/retrieved-estimate-summary" method="post" novalidate class="govuk-!-display-inline-block">
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue"
                }) }}
                <a class="govuk-link govuk-button govuk-button--warning" href="/nrf-estimate-4/delete-quote?from=retrieved">Delete</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
