{% extends "layouts/main.html" %}

{% block pageTitle %}
Your quote details - Get a quote for Nature Restoration Fund levy - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/nrf-estimate-4/estimate-email-retrieval-content"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Your quote details</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            {% if data.nrfReference or data.quoteReference or data.estimateReference %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    NRF reference
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.nrfReference or data.quoteReference or data.estimateReference }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> NRF reference</span>
                    </a>
                </dd>
            </div>
            {% endif %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Red line boundary added
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.redlineBoundaryPolygon %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> red line boundary added</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Red line boundary file uploaded
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.hasRedlineBoundaryFile %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> red line boundary file uploaded</span>
                    </a>
                </dd>
            </div>

            {% if data.buildingTypes and data.buildingTypes.length > 0 %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Building types
                </dt>
                <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                        {% for type in data.buildingTypes %}
                        {% if type and type !== '_unchecked' %}
                        <li>{{ buildingTypeLabels[type] or type }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> building types</span>
                    </a>
                </dd>
            </div>
            {% endif %}

            {% if data.residentialBuildingCount %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number of dwelling buildings
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.residentialBuildingCount }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> number of dwelling buildings</span>
                    </a>
                </dd>
            </div>
            {% endif %}

            {% if data.roomCounts %}
            {% if data.roomCounts.hotelCount %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number of hotel rooms
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.roomCounts.hotelCount }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> number of hotel rooms</span>
                    </a>
                </dd>
            </div>
            {% endif %}

            {% if data.roomCounts.hmoCount %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number of multiple occupation rooms
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.roomCounts.hmoCount }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> number of multiple occupation rooms</span>
                    </a>
                </dd>
            </div>
            {% endif %}

            {% if data.roomCounts.residentialInstitutionCount %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number of residential institution rooms
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.roomCounts.residentialInstitutionCount }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> number of residential institution rooms</span>
                    </a>
                </dd>
            </div>
            {% endif %}
            {% endif %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email address
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.email }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> email address</span>
                    </a>
                </dd>
            </div>
        </dl>

        <p class="govuk-body">Amend the above information or continue. You will be asked to create or sign in to an account.</p>

                <div class="govuk-button-group">
  {{ govukButton({
    text: "Confirm",
    href: "/nrf-estimate-4/commit-how-would-you-like-to-sign-in"
  }) }}

  {{ govukButton({
    text: "Cancel action",
    classes: "govuk-button--secondary"
  }) }}
</div>
        </form>
    </div>
</div>
{% endblock %}
