{% extends "layouts/main.html" %}

{% set pageName="User Journey Index" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      User Journey Experiments
    </h1>

    <p class="govuk-body">
      This prototype contains different user journeys that will be trialled with stakeholders.
      Select a journey below to access the journey.
    </p>

    <div class="govuk-table__container">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">User Journey</th>
            <th scope="col" class="govuk-table__header">Description</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for journey in journeys %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if journey.hasStartPage %}
                <a href="{{ journey.basePath }}/start" class="govuk-link">
                  {{ journey.displayName }}
                </a>
              {% elif journey.entryPath %}
                <a href="{{ journey.basePath }}{{ journey.entryPath }}" class="govuk-link">
                  {{ journey.displayName }}
                </a>
              {% else %}
                <span class="govuk-body">{{ journey.displayName }}</span>
                <br>
                <span class="govuk-body-s" style="color: #505a5f;">(No entry point defined)</span>
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              {{ journey.description }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>

{% endblock %}